<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Book Reviews</title>
    </head>
    <body>
        <p><a href="/home">Home</a> | <a href="/logout">Logout</a></p>
                <h1>{{book.title}}</h1>
                <h2>{{book.author}}</h2>
                <div class="reviews">
                    <h3>Reviews:</h3>
                    <hr>
                    {% for review in book.reviews.all %}
                        <p>Rating: {{review.rating}}</p>
                        <p><a href="/user/{{review.reviewer.id}}">{{review.reviewer.name}}</a> says: {{review.review}}</p>
                    <p>Posted on: {{review.created_at}}</p>
                    <hr>
                    {% endfor %}
                </div>
                <form action="/{{book.id}}/create" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="review">Review:</label>
                        <textarea rows="5" cols="40" type="text" name="review"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <input type="submit" value="Submit Review">
                </form>
    </body>
</html>
